.nav-rtabs .nav-rtab-holder:first-child{
	display: block;
}

.nav-rtabs .nav-rtab-holder{
	display: none;
}

.nav-rtab-wrapper > .nav-tab{
	font-size: 15px;
}

.wp-rbadge{
   background-size: 90px 90px;
}
