aiohttp==3.5.4
aiohttp-json-rpc==0.12.1
appdirs==1.4.3
async-timeout==3.0.1
attrs==18.2.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
decorator==4.4.0
discord.py==1.0.1
future==0.18.2
fuzzywuzzy==0.17.0
idna==2.8
idna-ssl==1.1.0
imageio==2.5.0
Jinja2==2.11.1
livereload==2.6.1
lunr==0.5.6
Markdown==3.2.1
MarkupSafe==1.1.1
mkdocs==1.1
moviepy==0.2.2.11
multidict==4.5.2
nltk==3.4.5
numpy==1.16.4
Pillow==6.0.0
python-Levenshtein-wheels==0.13.1
PyYAML==3.13
Red-DiscordBot==3.1.1
Red-Lavalink==0.3.0
requests==2.11.1
requests-toolbelt==0.7.0
schema==0.6.8
six==1.14.0
tornado==6.0.3
tqdm==4.32.2
urllib3==1.25.3
websockets==6.0
xmltodict==0.12.0
yarl==1.3.0
